{% extends 'main/base.html' %}
{% block content %}
    <div id="im-list-thank-note">
        First of all, I want to thank <a href="https://www.youtube.com/c/Thomasfrank">Thomas Frank</a>, who
        encourages me to make my own impossible list through his <a href="https://collegeinfogeek.com/about/meet-the-author/my-impossible-list/">blog</a>.
        Check out his blog to know more about impossible list! 
    </div>
    <div class="im-list-chunk">
        <h2>Career Goals</h2>
        <ul class="chunk-ul">
            <li class="chunk-il">Get into University for MS degree</li>
            <li class="chunk-il-extra">Get into Stanford</li>
            <li class="chunk-il">Get into FAANG company</li>
            <li class="chunk-il-extra">Quit the job and start start-up</li>
            <li class="chunk-il-extra">Increase the start-up's revenue to $1 billion</li>
            <li class="chunk-il">Grow <a href="https://t.me/jamshidislearning">telegram channel</a> to 10k users</li>
            <li class="chunk-il">Start a YouTube channel</li>
            <li class="chunk-il-extra">Grow the channel to 10k users</li>
            <li class="chunk-il-extra">Grow the channel to 100k users</li>
        </ul>
    </div>
    <div class="im-list-chunk">
        <h2>Learning Goals</h2>
        <ul class="chunk-ul">
            <li class="chunk-il">Score 130+ on GRE test</li>
            <li class="chunk-il">Learn how to make a game like <a href="https://www.youtube.com/c/DaniDev">Dani</a></li>
            <li class="chunk-il-extra">Make a race car game with self-driving cars in it</li>
            <li class="chunk-il">Finish <a href="https://www.coursera.org/learn/machine-learning">Stanford's machine learning course</a></li>
            <li class="chunk-il">Finish <a href="https://www.youtube.com/playlist?list=PLts9ZnoIwN9MJOXSFal2wFImRjfUhmYSP">MIT deep learning course with Lex Fridman</a></li>
            <li class="chunk-il">Learn Quincy Larsson email <a href="https://t.me/jamshidislearning/5">links</a> for 3 months</li>
        </ul>
    </div>
    <div class="im-list-chunk">
        <h2>Crazy Goals</h2>
        <ul class="chunk-ul">
            <li class="chunk-il">Being in Marvel movie</li>
            <li class="chunk-il">Have a lunch with a president</li>
            <li class="chunk-il">Being on Podcast with Elon Musk</li>
            <li class="chunk-il">Collab with <a href="https://www.youtube.com/c/nathanieldrewofficial">Nathaniel Drew</a></li>
            <li class="chunk-il">Studying in all IVY league libraries</li>
            <li class="chunk-il">Link my mind with AI</li> 
        </ul>
    </div>
{% endblock %}